#topic{
    font-size: 24px;
    text-align: center;
    color: #333;
    font-weight: bold;
    padding: 1em 0px;
}
ul {
    cursor: pointer;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
li {
    float: left;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
    li a:hover {
    background-color: #111;
  }
