ul {
    cursor: pointer;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
li {
    float: left;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover {
    background-color: #111;
}
#topic {
    text-align: center;
    font-size: 30px;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
}

.indented-input {
    width: 400px;
    margin-left: 1em;
    border-radius: 9px;
}
.container {
    padding: 1em;
}
